@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins',sans-serif;
 
}

span{
  font-family: inherit;
  font-weight: inherit;
}

.blueShadow{
  box-shadow: 3px 3px 0 0 #cc5cb2;
}

.blueShadow:hover{
  box-shadow: 6px 6px 0 0 #d05ab6;
  transform: translate(-3px,-3px);
  cursor: pointer;
}
  
.login-page-container{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 90vh;
 
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-size: cover;
}
.login-page {
  background-color: #e480c4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-page form {
  display: flex;
  flex-direction: column;
}

.login-page h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-page label {
  margin-bottom: 5px;
}

.login-page input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #0a0909;
  border-radius: 5px;
}

.login-page button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-page button:hover {
  background-color: #0056b3;
}

.login-page p {
  text-align: center;
}

.login-page a {
  color: #007bff;
}

