.signup-page-container{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20190222/ourmid/pngtree-full-irregular-watercolor-splash-ink-light-color-background-material-colorteenage-girlwatercolorposterbackgroundh5photo-image_57012.jpg') no-repeat center center fixed;
    background-size: cover;
}
.signup-page {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .signup-page form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-page h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .signup-page label {
    margin-bottom: 5px;
  }
  
  .signup-page input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .signup-page button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-page button:hover {
    background-color: #0056b3;
  }
  